<md-content layout="column" layout-padding layout-margin>
	<md-content layout="column" layout-align="center center">
		<h5 class="md-title">Upload Classlist</h5>
		<img ng-src="resources/img/null.png">
		<p class="md-subhead">Let's get started by uploading your classlist.</p>
	</md-content>

</md-content>
<div>
	<md-fab-speed-dial class="md-fab-bottom-right md-scale" md-direction="up" style="position: fixed;">
	    <md-fab-trigger>
	      <md-button aria-label="menu" class="md-primary md-raised md-fab">
	        <md-icon md-svg-src="resources/img/svg/settings.svg"></md-icon>
	      </md-button>
	    </md-fab-trigger>
	    <md-fab-actions>
	        <upload-Icon 
       	    	class="md-primary md-fab md-raised md-mini"
       	    	tooltip-Msg="Upload classlist"
       	    	tooltip-Pos="left"
       			icon="resources/img/svg/file.svg"
       			file-data="uploadCl.filedata"
       			request-Obj="uploadCl.subject"
       			url="insert_classlist.action">
	       	</upload-Icon>
	        <md-button aria-label="icon" class="md-primary md-fab md-raised md-mini" ng-click="">
		      	<md-tooltip md-direction="left">
		      		Add Student
		        </md-tooltip>
		        <md-icon md-svg-src="resources/img/svg/add.svg" aria-label="Upload"></md-icon>
	        </md-button>
	    </md-fab-actions>
	</md-fab-speed-dial>
</div>